.main {
  margin: 150px auto 0;
  width: 95%;

  @include mq(lg) {
    width: 100%;
  }
}

.section {
  margin: 120px auto 0;
  max-width: 800px;
  padding: 0 20px;

  @include mq(sm) {
    width: 100%;
    margin: 125px auto 0;
  }
}

button {
  outline: none;
}