.dark-mode {
  background-color: rgba(32, 33, 36, 1);
  color: whitesmoke;
  .header {
    background-color: #121212;
    border-bottom: 1px solid #333;
    &-top {
      background-color: #191919;
    }
  }
}