.dark-mode {
  background-color: rgba(32, 33, 36, 1);
  color: whitesmoke;
  .header {
    background-color: #121212;
    border-bottom: 1px solid #333;
    &-top {
      background-color: #131313;
      color: #26A69A;
    }
  }
  .main-visual {
    box-shadow: 1px 3px 8px 1px #333 inset;
  }
}