.light-mode {
  background-color: whitesmoke;
  .header {
    background-color: hsla(0, 0%, 100%, .97);
    border-bottom: 1px solid #ebedef;
    &-top {
      background-color: #fefdfa;
      color: #d90d0d;
    }
  }
  .main-visual {
    box-shadow: 1px 3px 8px 1px #ccc inset;
  }
}