.light-mode {
  background-color: whitesmoke;
  .bg-image {
    background-image: url('http://d27fueny0694oh.cloudfront.net/gif/hira_walk.gif');
  }
  .header {
    background-color: hsla(0, 0%, 100%, .97);
    border-bottom: 1px solid #ebedef;
    &-top {
      background-color: #fefdfa;
      color: #d90d0d;
    }
    .sidebar {
      background-color: orange;
    }
  }
  .main-visual {
    background-color: whitesmoke;
    box-shadow: 1px 3px 8px 1px #ccc inset;
  }
  .right {
    .triangle {
      background-color: #EF5350;
    }
  }
  .left {
    .triangle {
      background-color: #42A5F5;
    }
  }
}